<div class="mx-auto d-flex flex-column">
  <div class="mx-auto mb-5">
    <h3 class="text-center">Thời Khóa biểu của <%= @student.student_id%></h3>
  </div>
  <%= paginate(@grid.assets) %>
  <%= datagrid_table @grid %>
  <%= paginate(@grid.assets) %>
</div>