  <main class="my-5">
      <div class="container">
          <div id="wizard">
              <h3>
                  <div class="media">
                      <div class="bd-wizard-step-icon"><i class="mdi mdi-account-outline"></i></div>
                      <div class="media-body">
                          <div class="bd-wizard-step-title">Thông tin</div>
                          <div class="bd-wizard-step-subtitle">Step 1</div>
                      </div>
                  </div>
              </h3>
              <section>
                  <div class="content-wrapper">
                      <h4 class="section-heading">Hãy nhập vào các thông tin bên dưới</h4>
                      <div class="row">
                          <div class="form-group col-md-6">
                              <label for="student_id" class="sr-only"></label>
                              <input type="text" name="student_id" id="student_id" class="form-control" placeholder="Mã số sinh viên">
                          </div>
                          <div class="form-group col-md-6">
                              <select name="school" id="school" class="form-control">
                                  <option value="" disabled selected>Hãy chọn trường</option>
                                  <option>Truong 1</option>
                                  <option>Truong 2</option>
                                  <option>Truong 3</option>
                              </select>
                          </div>
                      </div>
                  </div>
              </section>
              <h3>
                  <div class="media">
                      <div class="bd-wizard-step-icon"><i class="mdi mdi-database-import"></i></div>
                      <div class="media-body">
                          <div class="bd-wizard-step-title">Thêm dữ liệu</div>
                          <div class="bd-wizard-step-subtitle">Step 2</div>
                      </div>
                  </div>
              </h3>
              <section>
                  <div class="content-wrapper">
                      <h4 class="section-heading">Paste lịch học của bạn vào ô bên dưới</h4>
                      <div class="row">
                          <div class="form-group col-md-12">
                              <textarea name="schedude" id="schedude" class="form-control"></textarea>
                          </div>
                      </div>
                  </div>
              </section>
              <h3>
                  <div class="media">
                      <div class="bd-wizard-step-icon"><i class="mdi mdi-calendar-month"></i></div>
                      <div class="media-body">
                          <div class="bd-wizard-step-title">Chọn lịch học</div>
                          <div class="bd-wizard-step-subtitle">Step 3</div>
                      </div>
                  </div>
              </h3>
              <section>
                  <div class="content-wrapper">
                      <div class="row mb-3">
                          <div class="col-md-12">
                              <a href="#">
                                  <i class="fas fa-heart float-right"></i>
                              </a>
                          </div>
                      </div>
                      <div class="row">
                          <div class="table-responsive">
                              <table class="table table-hover">
                                  <thead>
                                      <tr>
                                          <th scope="col">Tiết</th>
                                          <th scope="col">T2</th>
                                          <th scope="col">T3</th>
                                          <th scope="col">T4</th>
                                          <th scope="col">T5</th>
                                          <th scope="col">T6</th>
                                          <th scope="col">T7</th>
                                      </tr>
                                  <tbody>
                                      <tr>
                                          <th scope="row">Tiết 1</th>
                                          <td>Subject</td>
                                          <td>Subject</td>
                                          <td>Subject</td>
                                          <td>Subject</td>
                                          <td>Subject</td>
                                          <td>Subject</td>
                                      </tr>
                                      <tr>
                                          <th scope="row">Tiết 1</th>
                                          <td>Subject</td>
                                          <td>Subject</td>
                                          <td>Subject</td>
                                          <td>Subject</td>
                                          <td>Subject</td>
                                          <td>Subject</td>
                                      </tr>
                                      <tr>
                                          <th scope="row">Tiết 1</th>
                                          <td>Subject</td>
                                          <td>Subject</td>
                                          <td>Subject</td>
                                          <td>Subject</td>
                                          <td>Subject</td>
                                          <td>Subject</td>
                                      </tr>
                                  </tbody>
                                  </thead>
                              </table>
                          </div>
                      </div>
                      <div class="row">
                          <button type="button" class="btn bg-primary text-white ml-2">Tạo mới</button>
                      </div>
                  </div>
              </section>
          </div>
      </div>
  </main>
  <%= javascript_pack_tag 'bd-wizard', 'data-turbolinks-eval' => 'false'%>